.contact-section {

  &__line {
    position: absolute;
    top: 100px;
    width: 100vw;
    left: 0;
  }

  &__top {
    margin-bottom: clamp(33px, 6.597vw, 95px);
  }

  &__title {
    font-size: clamp(22px, 1.667vw, 24px);

    @media screen and (max-width: 1025px) {
      margin: 0 auto;
    }
  }

  &__box {
    max-width: Min(51.486vw, 655px);
    width: 100%;
    margin-left: auto;

    @media screen and (max-width: 1025px) {
      max-width: 690px;
      margin: 0 auto;
    }
  }

  &__inner {
    display: flex;
    align-items: center;
    grid-gap: 50px clamp(20px, 3.472vw, 50px);

    @media screen and (max-width: 576px) {
      flex-direction: column;
    }
  }

  @media screen and (max-width: 576px) {
    padding: 130px 0 80px;
    background-image: url(../img/mobile-bg.png) !important;
  }


}


.contact-fotm__placeholder::after {
  content: attr(data-end) ;
  color: red ;
}
