header {
  position: absolute;
  z-index: 20;
  top: clamp(25px, 3.472vw, 50px);
  left: clamp(25px, 5.385vw, 70px);
  bottom: clamp(25px, 3.472vw, 50px);

  @media screen and (max-width: 1025px) {
    position: fixed;
    z-index: 20;
    bottom: initial;
    top: 0;
    left: 0;
    bottom: initial;
    right: 0;
    padding: clamp(25px, 3.472vw, 50px) clamp(20px, 3.472vw, 50px) 0;

    &::before {
      width: 100vw;
      left: 0;
      right: 0;
      top: 0;
      height: 250px;
      content: '';
      background: linear-gradient(180deg, #0A0310 0%, rgba(10, 3, 16, 0) 100%);
      position: absolute;
      z-index: -1;
      pointer-events: none;
    }
  }
}

.header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  height: 100%;

  @media screen and (max-width: 1025px) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 1025px) {
  // section {
  //   height: calc((100vh - var(--header-height))) !important;
  // }

  section, body, html {
    overflow-x: hidden;
    width: 100%;
    height: 100%;
  }

  body {
    height: initial;
  }

  section {
    overflow: initial;
  }

  .index-first {
    padding-top: calc(var(--header-height) + 20px);
  }
}


@media screen and (max-width: 576px) {
  section {
    min-height: 700px;
    height: initial;
  }

}


