.index-first {
  position: relative;
  z-index: 0;

  &__box {
    max-width: Min(47.222vw,680px);
    width: 100%;
    margin-left: auto;

    @media screen and (max-width: 1025px) {
      max-width: 690px;
      margin: 0 auto;
    }
  }

  &__top {
    margin-bottom: 40px;

    @media screen and (max-width: 576px) {
      text-align: center;
      align-items: center;

      .main-top__subtitle {
        max-width: 50%;
        line-height: 130%;
      }
    }
  }

  &__video,
  &__video img {
    border-radius: 30px;
    display: flex;
  }

  &__video {
    position: relative;
    z-index: 0;
    cursor: pointer;

    &::before {
      z-index: -1;
      left: -6px;
      right: -6px;
      bottom: -6px;
      top: -6px;
      content: '';
      position: absolute;
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
      opacity: .5;
      border-radius: 36px;
    }

    &::after {
      width: 57px;
      height: 64px;
      content: '';
      position: absolute;
      background-image: url(../img/video-play.svg);
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      top: 50%;
      left: 50%;
      z-index: 1;
      transform: translate(-50%, -50%);
      pointer-events: none;
    }
  }

  &__image {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    display: flex;
    width: clamp(617px,60.417vw,870px);
    height: clamp(564px, 55.208vw, 795px);
    overflow: hidden;

    img {
      object-fit: contain;
      transform: translateY(60px);
    }

    @media screen and (max-width: 576px) {
      display: none;
    }
  }

  @media screen and (max-width: 576px) {
    padding: 200px 0 100px;
    background-image: url(../img/index-mobile.png) !important;
  }

}
