.project-section {

  &__line {
    position: absolute;
    width: 100vw;
    left: 0;
    top: 100px;
  }

  &__box {
    max-width: Min(48.819vw,703px);
    width: 100%;
    margin-left: auto;
    display: flex;
    align-items: flex-start;
    grid-gap: 24px 30px;

    @media screen and (max-width: 1025px) {
      max-width: 690px;
      margin: 0 auto;
    }

    @media screen and (max-width: 576px) {
      flex-direction: column;
    }
  }

  &__top {
    max-width: 42%;

    @media screen and (max-width: 576px) {
      max-width: 100%;
    }
  }

  &__title {
    font-size: clamp(22px, 1.667vw, 24px);
    margin-bottom: clamp(12px, 1.875vw, 27px);
  }

  &__subtitle {
    font-size: clamp(14px, 1.111vw, 16px);
    line-height: 130%;
  }

  @media screen and (max-width: 576px) {
    padding: 130px 0 60px;
    background-image: url(../img/mobile-bg.png) !important;
  }


}
