<footer>
  <div class="container">
    <ul class="social-list">
      <li class="social-list__item">
        <a href="#" class="social-list__link">
          <svg width='24' height='24'>
            <use href='img/sprite/sprite.svg#facebook'></use>
          </svg>
        </a>
      </li>
      <li class="social-list__item">
        <a href="#" class="social-list__link">
          <svg width='24' height='24'>
            <use href='img/sprite/sprite.svg#instagram'></use>
          </svg>
        </a>
      </li>
      <li class="social-list__item">
        <a href="#" class="social-list__link">
          <svg width='24' height='24'>
            <use href='img/sprite/sprite.svg#tw'></use>
          </svg>
        </a>
      </li>
      <li class="social-list__item">
        <a href="#" class="social-list__link">
          <svg width='24' height='24'>
            <use href='img/sprite/sprite.svg#tiktok'></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</footer>




