<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="Description" content="default">
    <title>ItPeople</title>
    <link rel="preload" href="fonts/Montserrat-Light.woff2" as="font" crossorigin="anonymous">
    <link rel="preload" href="fonts/Montserrat-Regular.woff2" as="font" crossorigin="anonymous">

    <link rel="preload" href="fonts/Montserrat-Bold.woff2" as="font" crossorigin="anonymous">
    <link rel="preload" href="fonts/Gilroy-Regular.woff2" as="font" crossorigin="anonymous">

    <link rel="stylesheet" href="css/style.css">
</head>
