<header>
    <div class="header">
      <a href="#index" class="header__logo">
        <svg width='126' height='60'>
          <use href='img/sprite/sprite.svg#logo'></use>
        </svg>
      </a>

      <nav class="main-nav" id="myMenu">
        <ul class="main-nav__list">
          <li class="main-nav__item" data-menuanchor="first">
            <a href="#first" class="main-nav__link">
              Главная
            </a>
          </li>
          <li class="main-nav__item" data-menuanchor="services">
            <a href="#services" class="main-nav__link">
              Услуги
            </a>
          </li>
          <li class="main-nav__item" data-menuanchor="portfolio">
            <a href="#portfolio" class="main-nav__link">
              Портфолио
            </a>
          </li>
          <li class="main-nav__item" data-menuanchor="contacts">
            <a href="#contacts" class="main-nav__link">
              Контакты
            </a>
          </li>
          <li class="main-nav__item" data-menuanchor="project">
            <a href="#project" class="main-nav__link">
              Начать проект
            </a>
          </li>

        </ul>
      </nav>

      <ul class="social-list">
        <li class="social-list__item">
          <a href="#" class="social-list__link">
            <svg width='24' height='24'>
              <use href='img/sprite/sprite.svg#facebook'></use>
            </svg>
          </a>
        </li>
        <li class="social-list__item">
          <a href="#" class="social-list__link">
            <svg width='24' height='24'>
              <use href='img/sprite/sprite.svg#instagram'></use>
            </svg>
          </a>
        </li>
        <li class="social-list__item">
          <a href="#" class="social-list__link">
            <svg width='24' height='24'>
              <use href='img/sprite/sprite.svg#tw'></use>
            </svg>
          </a>
        </li>
        <li class="social-list__item">
          <a href="#" class="social-list__link">
            <svg width='24' height='24'>
              <use href='img/sprite/sprite.svg#tiktok'></use>
            </svg>
          </a>
        </li>
      </ul>

    </div>
</header>
