@mixin font-face($font-family, $url, $weight, $style) {
  @font-face {
    font-family: "#{$font-family}";
    src: url('../fonts/#{$url}.woff2') format("woff2"),
         url('../fonts/#{$url}.woff') format("woff");
    font-weight: #{$weight};
    font-display: swap;
    font-style: $style;
  }
}

@include font-face("Montserrat", "../fonts/Montserrat-Light", 300, normal);
@include font-face("Montserrat", "../fonts/Montserrat-Regular", 400, normal);
@include font-face("B52", "../fonts/B52", 400, normal);
@include font-face("Montserrat", "../fonts/Montserrat-Bold", 700, normal);

@include font-face("Inter", "../fonts/Gilroy-Regular", 400, normal);

