.main-title {
  font-style: normal;
  font-weight: 600;
  font-size: clamp(40px, 5vw, 60px);
  line-height: 125%;
  font-family: var(--font-family);
  text-align: center;
  color: var(--color-a);
  text-transform: uppercase;
}


.card-background {
  backdrop-filter: blur(2px);
  border-radius: 30px;
  position: relative;
  z-index: 0;


  &::before,
  &::after {
    z-index: -1;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    content: '';
  }

  &::before {
    background-image: url(../img/card-bg.svg);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: inherit;
    background-position: center;
  }

  &:after {
    border: 0.1px solid transparent;
    border-image-source: var(--card-border);
    border-image-slice: 60;
    border-image-width: 60;
    border-image-repeat: stretch;
    opacity: .5;
  }

  @-moz-document url-prefix() {

  }
}

