.typed-out{
  overflow: hidden;
  white-space: nowrap;
  animation: typing 4.5s steps(20, end) infinite;
  width: 0;
  max-width: fit-content;
  padding-right: 3px;
  position: relative;
  font-weight: 400 !important;
  font-size: clamp(36px, 4.861vw, 70px) !important;
  font-family: var(--font-family3) !important;

  &::before {
    width: 3px;
    height: 100%;
    right: 0px;
    position: absolute;
    content: '';
    background-color: var(--color-a);
    animation: pulse 1s infinite cubic-bezier(1.0,0,0,1.0);
  }
}


@keyframes pulse {
  0% { opacity: 0;}

  100% { opacity: 1;}
}

@keyframes typing {
  0% { width: 0 }

  50% {width: 100%;}

  100% { width: 0% }
}

.page--ios {
  .card-background::before {
    background: rgba(255, 167, 242, 0.07);
  }


  .slider-dots .swiper-pagination-bullet {
    background: rgba(255, 167, 242, 0.07);
  }

  .slider-dots .swiper-pagination-bullet-active {
    background: #C3018D;
  }

}

@-moz-document url-prefix() {
  .card-background::before {
    background: rgba(255, 167, 242, 0.07);
  }
}


.card-background {
  backdrop-filter: blur(2px);
  border-radius: 30px;
  // background-image: url(../img/card-bg.svg);
  // background-repeat: no-repeat;
  // background-size: cover;
  position: relative;
  z-index: 0;

  // background-color: red;


  &::before,
  &::after {
    z-index: -1;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    content: '';
  }

  &::before {
    background-image: url(../img/card-bg.svg);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: inherit;
    background-position: center;
  }

  &:after {
    border: 0.1px solid transparent;
    border-image-source: var(--card-border);
    border-image-slice: 60;
    border-image-width: 60;
    border-image-repeat: stretch;
    opacity: .5;
  }

  @-moz-document url-prefix() {

  }
}

.slider-dots {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-gap: 28px;
  margin: 30px auto 0;

  .swiper-pagination {
    display: flex;
    align-items: center;
    grid-gap: 16px;
    justify-content: center;
    max-width: 155px;
    width: 100%;
    flex-wrap: wrap;
  }

  .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-image: url(../img/sprite/bullet.svg);
    backdrop-filter: blur(10px);
    transition: all .4s;
    border-radius: 30px;
  }

  .swiper-pagination-bullet-active {
    background-image: url(../img/sprite/bullet-active.svg);
  }

  @media screen and (min-width: 576px) {
    display: none;
  }
}
