:root {
  --body-bg: #262626;


  --content-width: 1170px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

  --font-family: "Montserrat", sans-serif; // var(--font-family);
  --font-family2: "Gilroy", sans-serif; // var(--font-family2);

  // text color
  --color-a: #ffffff; // var(--color-a);
  --color-b: #000000; // var(--color-b);
  --color-c: #C3018D; // var(--color-c);

  --color-d: #262626; // var(--color-d);
  --color-e: #474747; // var(--color-e);
  --color-f: #4E4E4E; // var(--color-f);
  --color-g: #515151; // var(--color-g);
  --color-h: #49BA14; // var(--color-h);
  --color-i: #0085FF; // var(--color-i);
  --color-j: #E0E0E0; // var(--color-j);
  --color-k: #F4F4F4; // var(--color-k);
  --color-l: #A9A9A9; // var(--color-l);
  --color-m: #777777; // var(--color-m);
  --color-n: #F7F7F7; // var(--color-n);

}
